.margin_top10 {
    margin-top: 10px;
}

.margin_top20 {
    margin-top: 20px;
}

.margin_top30 {
    margin-top: 30px;
}

.clears {
    clear: both;
}

.thumbcls {
    width: 50px;
    height: 50px;
}

.thumbcls1 {
    width: 100px;
    height: 100px;
}

.currencycls {
    padding: 0px;
    top: 5px;
}

td#addpremium {
    outline: 1px solid lightgrey;
}
