/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: 'QanelasSoft-Regular';
    src: url("../fonts/QanelasSoft-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QanelasSoft-Bold';
    src: url("../fonts/QanelasSoft-Bold.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QanelasSoft-Medium';
    src: url("../fonts/QanelasSoft-Medium.ttf");
    font-weight: normal;
    font-style: normal;
}

.regular {
    font-family: 'QanelasSoft-Regular';
}

.bold {
    font-family: QanelasSoft-Bold;
}

.medium {
    font-family: 'QanelasSoft-Medium';
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    font-family: 'QanelasSoft-Regular';
    font-size: 14px;
    color: #494949;

}

html, body {
    height: 100%;

}

a {
    text-decoration: none ! important;
    outline: 0 !important;

}

ul, li {
    list-style-type: none;
    outline: 0;
}

.no-hor-padding {
    padding-left: 0px ! important;
    padding-right: 0px ! important;
}

/********************************************  Landing page  *************************************************************/
.gradient {
    background: linear-gradient(217deg, rgba(255, 45, 102, 1) 0%, rgba(27, 104, 208, 1) 100%); /* w3c */
    background: repeating-linear-gradient(-90deg, rgba(255, 45, 102, 1) 0%, rgba(27, 104, 208, 1) 100%); /* w3c */
}

/* Vertical centering: make div as large as viewport and use table layout */
div.container-1 {
    width: 100%;
    height: 95%;
    top: 0;
    left: 0;
    height: 100%;
    position: absolute;
    display: table;
}

/* Horizontal centering of image: set left & right margins to 'auto' */

img.displayed {
    display: block;
    margin: 1em auto
}

.header-logo {
    background: rgba(0, 0, 0, 0) url("../images/logo.png") no-repeat scroll center center / cover;
    height: 94px;
    width: 99px;
}

.logo {
    text-align: center;
    width: 100%;
    margin: 0 auto;

}

.logo a {
    text-align: center;
    margin: 0 auto;

}

.header-area {
    padding-top: 20px;
    display: table-cell;
    vertical-align: middle;
}

.header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-text {
    color: #fff;
    padding: 10px;
    text-align: center;
    display: block;
    margin-bottom: 90px;

}

.top-sub-head {
    font-size: 30px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

.top-head {
    font-size: 60px;
    display: block;
    width: 100%;
    line-height: 1em;
    padding-bottom: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.ios-icon {
    background: url("../images/ios.png") no-repeat top center;
    background-size: cover;
    height: 55;
    width: 165px;
}

.android-icon {
    background: url("../images/android.png") no-repeat top center;
    background-size: cover;
    height: 55;
    width: 165px;
}

.app-links {
    width: 100%;
    padding-top: 25px;
}

.ios-app-icon {
    display: inline-block;
    margin-right: 10px;
}

.android-app-icon {
    display: inline-block;
}

.footer {
    padding: 15px 0px;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: auto;
    background: #ffffff;
    word-wrap: break-word;
}

.footer a {
    color: #494949;
    word-wrap: break-word;
}

.footer a:hover {
    color: #494949;
}

@media (min-width: 320px) and (max-width: 640px) {
    .ios-app-icon {

        margin-right: 0px;
        margin-bottom: 5px;
    }

    .footer {
        position: relative !important;
    }

    .container-1 {
        position: relative !important;
    }

    .banner-text {
        margin-bottom: 10px;
    }

}

/********************************************  E O Landing page  *************************************************************/

/********************************************  Help page  *************************************************************/
.header {
    border-bottom: 1px solid #dbdada;
    padding: 10px 0px;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #fff;
}

.logo-h {

    width: 30%;
    height: auto;
    display: inline-block;
    float: left;

}

.help_content {
    word-wrap: break-word;
}

.copyright-t {
    padding-top: 12px;

}

.help {
    padding: 10px 0px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: none;
    border: none;
    border-bottom-color: none;
    color: #ff3d7d;
    font-family: QanelasSoft-Bold;
}

.nav-tabs > li > a:hover {
    border-color: #fff;
    background: none;
    border: none;
    color: #ff3d7d;
    border-bottom-color: none;
}

.nav-tabs {
    border-bottom: none;
    margin: 0px !important;
    padding-top: 10px;
    font-size: 16px;
}

.nav-tabs > li > a {
    margin-right: 0px;
    line-height: 1.42857143;
    border: none;
    color: #494949;
    border-radius: 0;
    word-wrap: break-word;
}

.tab-content > .tab-pane p {
    line-height: 1.6em;
    word-wrap: break-word;
}

.help-content {
    position: absolute;
    width: 100%;
    top: 60px;
}

.help-left-r {
    display: none;
}

.help-left {
    display: block;
}

.btn-cus {
    width: 100%;
    border-bottom: 1px solid #dbdada;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: 0px;
    padding: 10px 0px;
    width: 100%;
    background: #fff;
    color: #494949;
    position: fixed;
}

.btn-cus:hover {
    color: #fff;
    background-color: #fff;
    color: #494949;
    border-bottom: 1px solid #dbdada;
}

.btn-primary:active:hover, .btn-primary.active:hover, .open > .dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open > .dropdown-toggle.btn-primary:focus, .btn-primary.focus:active, .btn-primary.active.focus, .open > .dropdown-toggle.btn-primary.focus {
    color: #494949;
    background-color: #fff;
    border-bottom: 1px solid #dbdada;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #494949;
    text-decoration: none;
    background-color: #fff;
    outline: 0;
}

.dropdown-menu-cus {
    position: fixed;
    top: 173px;
    width: 100%;
    border-radius: 0px;
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #494949;
    background-color: #fff;
    border-bottom: 1px solid #dbdada;
}

.social-media-icon a:first-child {
    padding-left: 0px;
}

.social-media a {
    padding-left: 5px;
}

.social-media {
    padding-top: 20px;
    float: left;
}

.social-media-lable {
    padding-bottom: 10px;
}

.social-media-m {
    display: none;
}

@media (min-width: 320px) and (max-width: 768px) {
    .logo-h {
        background-position: center;
        width: 100%;
        text-align: center;
    }

    .copyright-t {
        padding-top: 12px;
        text-align: center;
        width: 100%;
        float: left;
    }

    .help-content {
        position: absolute;
        width: 100%;
        top: 90px;
    }

    .help-left-r {
        display: block;
        z-index: 222;
    }

    .help-left {
        display: none;
    }

    .help-right {
        padding-top: 35px;
    }

    .help {
        padding: 45px 0px;
    }

    .social-media-m {
        display: block;
        text-align: center;
    }

    .social-media-icon {
        padding-top: 15px;
        display: inline-block;
    }
}
