.introjs-overlay {
    position: absolute;
    z-index: 999999;
    background-color: #2e3e4e;
    opacity: 0.97;
    filter: alpha(opacity=97);
}

.introjs-fixParent {
    z-index: auto !important;
}

.introjs-showElement {
    z-index: 9999999 !important;
}

.introjs-relativePosition {
    position: relative;
}

.introjs-helperLayer {
    position: absolute;
    z-index: 9999999;
    border: 3px solid #fff;
}

.introjs-helperNumberLayer {
    display: none;
    position: absolute;
    top: -14px;
    left: -14px;
    z-index: 9999999999 !important;
    font-family: Arial, verdana, tahoma;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    background: #333; /* Old browsers */
    width: 24px;
    height: 24px;
    line-height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .4);
}

.introjs-arrow {
    border: 5px solid white;
    content: '';
    position: absolute;
}

.introjs-arrow.bottom {
    bottom: -7px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-left-color: transparent;
}

.introjs-arrow.left {
    left: -23px;
    top: 10px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: white;
}

.introjs-arrow.top {
    top: -7px;
    border-top-color: white;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.introjs-arrow.right {
    right: -23px;
    top: 10px;
    border-top-color: transparent;
    border-right-color: white;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.introjs-tooltip {
    color: #fff;
    position: absolute;
    padding: 5px 10px;
    min-width: 200px;
    max-width: 300px;
    -webkit-transition: opacity 0.1s ease-out;
    -moz-transition: opacity 0.1s ease-out;
    -ms-transition: opacity 0.1s ease-out;
    -o-transition: opacity 0.1s ease-out;
    transition: opacity 0.1s ease-out;
}

.introjs-tooltipbuttons {
}

/*
 Buttons style by http://nicolasgallagher.com/lab/css3-github-buttons/
 Changed by Afshin Mehrabani
*/
.introjs-button {
    display: inline-block;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0.2em;
    outline: none !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: #ccc !important;
    background-color: #222633;
    border-color: #222633;
}

.introjs-button:focus,
.introjs-button:active {

}

.introjs-skipbutton {
    margin-right: 5px;
}

.introjs-prevbutton {
    -webkit-border-radius: 0.2em 0 0 0.2em;
    -moz-border-radius: 0.2em 0 0 0.2em;
    border-radius: 0.2em 0 0 0.2em;
    border-right: none;
}

.introjs-nextbutton {
    -webkit-border-radius: 0 0.2em 0.2em 0;
    -moz-border-radius: 0 0.2em 0.2em 0;
    border-radius: 0 0.2em 0.2em 0;
}

.introjs-disabled, .introjs-disabled:hover, .introjs-disabled:focus {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

.introjs-bullets ul {
    clear: both;
    margin-bottom: 10px;
    padding: 0;
    display: inline-block;
}

.introjs-bullets ul li {
    list-style: none;
    float: left;
    margin: 0 2px;
}

.introjs-bullets ul li a {
    display: block;
    width: 6px;
    height: 6px;
    background: #ccc;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    text-decoration: none;
}

.introjs-bullets ul li a:hover {
    background: #999;
}

.introjs-bullets ul li a.active {
    background: #999;
}
